/* Hacer que el item ocupe todo el ancho del grid */
.full-width {
    grid-column: 1 / -1;
}

/* Ajuste específico para Textarea (para que sea más alto que los inputs normales) */
.textarea-box {
    height: 120px !important; /* Sobrescribe la altura de 45px del input-box global */
    padding-top: 15px;
    resize: none;
}
