@inherits LayoutComponentBase

<div class="contenedor-principal">
    <header class="encabezado">
        <img src="EPS_Barra_Superior.png alt="Logo EPS" class="logo">
    </header>

    <main class="contenido">
        @Body
    </main>
</div>