@inherits LayoutComponentBase

<div class="page">
    <header class="top-header">
        <div class="logo-container">
            <img src="/Imagenes/EPS_Barra_Superior.png" alt="EPS Logo" class="logo-img" />
        </div>
    </header>

    <div class="main-container">

        <main class="content">
            @Body
        </main>

        <aside class="sidebar-container">
            <NavMenu />
        </aside>
    </div>
    <div class="row">
        <div class="col-5">
            EPS, Todos los Derechos Reservados
        </div>
        <div class="col-6">
            <a href="https://www.eps.com.do/terminos-condiciones-y-politica-de-privacidad" class="text-end">Politicas de privacidad</a>
        </div>
    </div>
</div>