<div class="nav-container">
    <nav class="nav-menu">

        <NavLink class="nav-item" href="Inicio">
            <i class="bi bi-house-door nav-icon"></i>
            <span class="nav-text">Inicio</span>
        </NavLink>

        <NavLink class="nav-item" href="paquetes">
            <i class="bi bi-box-seam nav-icon"></i>
            <span class="nav-text">Paquetes</span>
        </NavLink>

        <NavLink class="nav-item" href="pre-aviso">
            <i class="bi bi-megaphone nav-icon"></i>
            <span class="nav-text">Pre-Aviso</span>
        </NavLink>

        <NavLink class="nav-item" href="cuenta">
            <i class="bi bi-person-circle nav-icon"></i>
            <span class="nav-text">Cuenta</span>
        </NavLink>

    </nav>

    <div class="nav-footer-logo">
        <div class="logo-circle">
            <img src="EPS_Barra_Lateral.png" alt="Logo EPS" />
        </div>
    </div>
</div>
